## Working with Time Series

Python standard library provides functions and data types for date and time data. These functions and data types are available in `datetime` module.
Data types: `date`, `time`, `datetime`, `timedelta`

In [1]:
from datetime import datetime # datetime datatype
Now = datetime.now()
Now

datetime.datetime(2021, 10, 7, 15, 53, 16, 977263)

The attributes of datetime objects have obvious meaning.

In [2]:
Now.day, Now.month, Now.year

(7, 10, 2021)

In [3]:
datetime.utcnow() # This function returns UTC current time

datetime.datetime(2021, 10, 7, 10, 28, 32, 288757)

In [9]:
time_diff = datetime.now() - datetime.utcnow()
time_diff

datetime.timedelta(seconds=19800)

A `timedelta` object can be added/ subtracted from `datetime` object to obtain shifted `datetime` object.

In [10]:
from datetime import timedelta
datetime.now() + timedelta (days = 2, hours = 3)

datetime.datetime(2021, 10, 9, 19, 9, 44, 286738)

A `datetime` object can be formated as string using `str` function.

In [11]:
datetime.now()

datetime.datetime(2021, 10, 7, 16, 20, 16, 282192)

In [12]:
str(datetime.now())

'2021-10-07 16:30:05.345174'

### `strftime` function

It is possible to format to the desired string format using `strftime` method.

In [13]:
Now

datetime.datetime(2021, 10, 7, 15, 53, 16, 977263)

In [14]:
Now.strftime("%d/%m/%Y")

'07/10/2021'

In [15]:
Now.strftime("%b %d, %Y")

'Oct 07, 2021'

These same format codes can be used to convert strings to dates using `strptime` function

In [16]:
datetime.strptime("04/10/2019", "%m/%d/%Y")

datetime.datetime(2019, 4, 10, 0, 0)

### Pandas `to_datetime` function

This function parses many different kinds of date time representations* into datetime data type. The argument can also be a list of strings. The Standard date formats like **ISO8601** can be parsed very quickly.

For countries like India, `dayfirst` argument of the function can be set to `True`.

In [17]:
dates = ['04/10/2021', '05/10/2021', '06/10/2021']
import pandas as pd
pd.to_datetime(dates, dayfirst = True)

DatetimeIndex(['2021-10-04', '2021-10-05', '2021-10-06'], dtype='datetime64[ns]', freq=None)

In [18]:
pd.to_datetime('Oct 7, 2021')

Timestamp('2021-10-07 00:00:00')

This function also handles missing values.

In [19]:
dates = ['04/10/2021', None, '06/10/2021']
pd.to_datetime(dates, dayfirst = True)

DatetimeIndex(['2021-10-04', 'NaT', '2021-10-06'], dtype='datetime64[ns]', freq=None)

Note that the missing value has been parsed as NaT, which stands for Not a Time.

## Creating a Time Series object

A simplest way to create a time series object is to create a Series with index of type `datetime`.

In [14]:
import numpy as np
dates = [datetime(2021, 9, 1), datetime(2021, 9, 2),
         datetime(2021, 9, 3), datetime(2021, 9, 4),
         datetime(2021, 9, 5), datetime(2021, 9, 6)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2021-09-01   -0.007014
2021-09-02    0.050283
2021-09-03    2.055071
2021-09-04   -0.963311
2021-09-05   -0.098987
2021-09-06   -0.482972
dtype: float64

Pandas provides a useful function `date_range` to generate a range of datetime objects. The generated range can be used as an index of Series object/ DataFrame object to create a univariate/ multivariate time series.

In [32]:
pd.date_range("01/01/2020", "10/02/2020", freq = "1H 30Min")

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:30:00',
               '2020-01-01 03:00:00', '2020-01-01 04:30:00',
               '2020-01-01 06:00:00', '2020-01-01 07:30:00',
               '2020-01-01 09:00:00', '2020-01-01 10:30:00',
               '2020-01-01 12:00:00', '2020-01-01 13:30:00',
               ...
               '2020-10-01 10:30:00', '2020-10-01 12:00:00',
               '2020-10-01 13:30:00', '2020-10-01 15:00:00',
               '2020-10-01 16:30:00', '2020-10-01 18:00:00',
               '2020-10-01 19:30:00', '2020-10-01 21:00:00',
               '2020-10-01 22:30:00', '2020-10-02 00:00:00'],
              dtype='datetime64[ns]', length=4401, freq='90T')