In [1]:
# 'lists' in Python

L=[1,2,3]
print(L[0]) #list index starts with zero

print(L[1])

print(L[2])

1
2
3

In [4]:
l2=[] # creating an empty list
print(l2)
l2.append(5) # will add an element to list 'l2'
print(l2)
l2.append(8) 
print(l2)
type(l2)

[]
[5]
[5, 8]

list

In [5]:
l3=[1,2.5,'xyz',[2,5,6]]
type(l3)

list

In [8]:
l3[3]

[2, 5, 6]

In [10]:
l3[3][1]

5

In [1]:
# 'in' operator with list

l2 = [5,8,1,4]

if 5 in l2:
       print("there is an item with value 5 in list l2")
    
if 6 in l2:
      print("list l2 contains an item with value 6")
else:
      print("list l2 does not contain an item with value 6")

there is an item with value 5 in list l2
list l2 does not contain an item with value 6

In [12]:
l1=["hetal","ami","megha","dhruv","shivam"]

if "megha" in l1:
      print("megha is a student in this class")
    
if "pooja" not in l1:
       print("pooja is not a student of this class")

megha is a student in this class
pooja is not a student of this class

In [13]:
l1[:3]

['hetal', 'ami', 'megha']

In [14]:
print(l1[1:4])
 
print(l1[2:])
 
print(l1[::2])

['ami', 'megha', 'dhruv']
['megha', 'dhruv', 'shivam']
['hetal', 'megha', 'shivam']

In [15]:
l2=[1,2,3,4,5,6,7,8,9,10]

l2[1:9:3]

[2, 5, 8]

In [20]:
l1=[1,3,5,7,6]
l2=[4,6,5,2,3]
len(l1)

5

In [18]:
l3=l1+l2
print(l3)

[1, 3, 5, 7, 6, 4, 6, 5, 2, 3]

In [19]:
l4=l1[1:4]+l2[3:]
print(l4)

[3, 5, 7, 2, 3]

In [21]:
l5=l1*2
l5

[1, 3, 5, 7, 6, 1, 3, 5, 7, 6]

In [2]:
l6=[0]*5  # creating a list with values which are initialized to zeroes

l6

[0, 0, 0, 0, 0]

In [23]:
# two ways to use 'for loop' with lists 
# accessing the list elements by their index
L=[1,2,3]
for i in range(len(L)):
       print(L[i])

1
2
3

In [24]:
# accessing the list elements by values
L=[11,12,13]
for i in L:
      print(i)

1
2
3

In [25]:
for j in [11,13,17,20]:
    print(j)

11
13
17
20

In [26]:
for name in ["xyz","pqr","abc"]:
    print("name=",name)

name= xyz
name= pqr
name= abc

In [3]:
s1=['Python' ,'is','a','programming','language']
s2=['programming','is','fun']

s3=''.join(s1[i] for i in range(0,len(s1)) if s1[i] in s2) 
#s3=''.join(s1[i] for i in range(0,len(s1)))
print(s3)
#s4=s1+s2 # s4=''.join(s1+s2)
#print(s4)

isprogramming

In [2]:
L=[1,3,5,7,6]
print(sum(L))
print(min(L))
print(max(L))

22
1
7

In [3]:
L.append(7)
print(L)

[1, 3, 5, 7, 6, 7]

In [4]:
L.append([6,9,4])
L

[1, 3, 5, 7, 6, 7, [6, 9, 4]]

In [5]:
L.extend([2,4,8])
L

[1, 3, 5, 7, 6, 7, [6, 9, 4], 2, 4, 8]

In [7]:
L1=[5,7,8,10,9,13]
# sort(L1) # error
L1.sort() # correct
L1

[5, 7, 8, 9, 10, 13]

In [3]:
L1=[5,7,8,10,9,13]
L1.sort(reverse=True) # means sorting in descending order
L1

[13, 10, 9, 8, 7, 5]

In [8]:
L2=[3,6,5,8,7,5,3,4,8,9]
L2.insert(3,10) # syntax: insert(index,object)
L2

[3, 6, 5, 10, 8, 7, 5, 3, 4, 8, 9]

In [10]:
L3=L2
print("L3=",L3)
print("L2=",L2)
L4=L2.copy()
print("L4=",L4)
#print(L2)
L5=L2[:]
print("L5=",L5)
L5[1]=16 # Lists are mutable
print("now L5=",L5)

L3= [3, 6, 5, 10, 8, 7, 5, 3, 4, 8, 9]
L2= [3, 6, 5, 10, 8, 7, 5, 3, 4, 8, 9]
L4= [3, 6, 5, 10, 8, 7, 5, 3, 4, 8, 9]
L5= [3, 6, 5, 10, 8, 7, 5, 3, 4, 8, 9]
now L5= [3, 16, 5, 10, 8, 7, 5, 3, 4, 8, 9]

In [11]:
L2=[3,6,5,8,7,5,3,4,8,9]
print(L2.count(5))
print(L2.count(3))
print(L2.index(5))
print(L2.index(8))
L2.reverse()
print(L2)
L2.remove(5)
print(L2)
del L2[1]
print(L2)

del L2[2:4]
print(L2)
print(L2.pop(2)) # will remove item at index 2 and also output the value of the item
print(L2)

2
2
2
3
[9, 8, 4, 3, 5, 7, 8, 5, 6, 3]
[9, 8, 4, 3, 7, 8, 5, 6, 3]
[9, 4, 3, 7, 8, 5, 6, 3]
[9, 4, 8, 5, 6, 3]
8
[9, 4, 5, 6, 3]

In [1]:
L=[9, 7, 6, 5, 4, 3, 2]
print(sum(L))
print(sum(L,10))
print(sum(L,1))
#syntax: sum(iterable, start=0)

36
46
37

In [2]:
L1=list(range(1,11))
print(L1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
L2=list(range(1,21,2))
print(L2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [9]:
n=10
L1=list(range(1,n+1))

In [10]:
L1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
animals=['cat','lion','giraffe','goat','tiger']
l1=[]
l2=[]
for a in animals:
    if len(a)== 4:
        l1.append(a)
    else:
        l2.append(a)
print("The animal names with number of characters equal to 4 are:")
print(l1)
print("The animal names with number of characters other than 4 are:")
print(l2)

The animal names with number of characters equal to 4 are:
['lion', 'goat']
The animal names with number of characters other than 4 are:
['cat', 'giraffe', 'tiger']

In [9]:
# ungrouped frequency distribution
from random import randint
l=[]
for i in range(1,51):
    r=randint(1,5)
    l.append(r)
    #l.append(randint(1,5))
print("list of 50 random numbers genereated between 1 to 5 is: ",l)
freq=[]
for i in range(1,6):
    f=l.count(i) 
    freq.append(f) # freq.append(l.count(i))
print("values : [1, 2, 3, 4, 5]")
print("freq= ",freq)
print("the frequency distribution is as follows:")
print("  x   freq ")
print("____________")
for i in range(1,6):
    print(i,"\t",freq[i-1])

list of 50 random numbers genereated between 1 to 5 is:  [4, 1, 5, 4, 3, 1, 1, 3, 2, 2, 3, 1, 2, 1, 4, 2, 4, 4, 1, 1, 4, 5, 3, 4, 2, 2, 2, 4, 1, 1, 3, 5, 1, 2, 3, 2, 1, 5, 5, 1, 1, 1, 2, 3, 1, 4, 4, 2, 3, 3]
values : [1, 2, 3, 4, 5]
freq=  [15, 11, 9, 10, 5]
the frequency distribution is as follows:
  x   freq
____________
1 	 15
2 	 11
3 	 9
4 	 10
5 	 5

In [10]:
from random import randint
l=[]
for i in range(50):
    r=randint(1,100)
    l = l + [r]
print(l)

[24, 65, 47, 71, 67, 12, 29, 22, 91, 66, 41, 64, 84, 96, 99, 66, 38, 29, 62, 35, 30, 30, 52, 88, 44, 61, 73, 50, 50, 34, 53, 39, 4, 35, 48, 57, 52, 55, 81, 29, 1, 93, 63, 98, 6, 25, 81, 10, 31, 51]

In [ ]:
from random import randint
l=[]
for i in range(50):
    l=l+[randint(1,100)]
print(l)

In [11]:
# frequency distribution for ungrouped data

#(when x takes all values within a range)
f=[]
L=[5,2,4,2,5,4,6,7,5,8,7,9,5,6,7,4,8,6] # assuming only integer values for data
for i in range(min(L),max(L)+1):
	freq=L.count(i)
	f.append(freq)
print('freq=',f)
print('The frequency distribution is as follows:')
print('x\tfreq')
print('----------------------')
for i in range(min(L),max(L)+1):
    print(i,"\t",f[i-min(L)])

freq= [2, 0, 3, 4, 3, 3, 2, 1]
The frequency distribution is as follows:
x	freq
----------------------
2 	 2
3 	 0
4 	 3
5 	 4
6 	 3
7 	 3
8 	 2
9 	 1

In [12]:
# frequency distribution for ungrouped data
#(when x does not take all values within a range)
f=[]
L=[1,4,3,5,4,6,7,5,7,9,5,6,7,4,3,6]
j=0
print('The frequency distribution is as follows:')
print('x\tfreq')
print('----------------------')
for i in range(min(L),max(L)+1):
        freq=L.count(i)
        if freq != 0:
                f.append(freq)
                j += 1
                print(i,"\t",f[j-1])
print('----------------------')

The frequency distribution is as follows:
x	freq
----------------------
1 	 1
3 	 2
4 	 3
5 	 3
6 	 3
7 	 3
9 	 1
----------------------