In [ ]:
# dictionary with same value for multiple keys
# suppose 'marks' is a dictionary cosists of the names and marks of students scoring 3 highest marks
# but there are more than one student scoring a particular marks
marks={('X','Y'):25,('P','Q'):23,('A','B','C'):20}
print("the first 3 highest scores out of 30 and the corresponding students are:",marks)

In [30]:
# datatype - tuple
# 'tuple' is an immutable list

L=[1,2,3]
t=tuple(L) # type conversion
print("L=",L)
print("t=",t)
L[0]=5
print("new list L=",L)

L= [1, 2, 3]
t= (1, 2, 3)
new list L= [5, 2, 3]

In [ ]:
t[0]=10 # error: because tuples are immuatable

In [31]:
print(t[1])

2

In [32]:
t1=(5,10,15)   
print("tuple t1=",t1)

L1=list(t1) # type conversion
print("list L1=",L1)
print("number of items in tuple t1=",len(t1))
L1[1]=20
print("now list L1=",L1)
print("at this stage, tuple t1 is:",t1)
t1=tuple(L1)
print("now the tuple t1=",t1)

tuple t1= (5, 10, 15)
list L1= [5, 10, 15]
number of items in tuple t1= 3
now list L1= [5, 20, 15]
at this stage, tuple t1 is: (5, 10, 15)
now the tuple t1= (5, 20, 15)

In [33]:
d={'a':1,'b':3}
print(d.items()) # dictionary items are outputted as tuples
print(d) # this will print d as dictionary

dict_items([('a', 1), ('b', 3)])
{'a': 1, 'b': 3}

In [35]:
student1=('ABC','XYZ',2002,12,8,'MSc',7.5)
print("the student-1 data is:",student1)
print("Name of the student-1=",student1[0])
print("Qualification of student-1=",student1[5])
print("birth year of student-1=",student1[2])
# to change the items in tuple
student_1=student1[:2]+(2001,10,1)+student1[5:]
print("the corrected data for student-1 is:",student_1)
student2=('abcd','pqr',2002,1,10,'MSc',6.5)
student_2=student2[:2]+(2003,)+student2[3:]
print("the corrected data for student is:",student_2)

the student-1 data is: ('ABC', 'XYZ', 2002, 12, 8, 'MSc', 7.5)
Name of the student-1= ABC
Qualification of student-1= MSc
birth year of student-1= 2002
the corrected data for student-1 is: ('ABC', 'XYZ', 2001, 10, 1, 'MSc', 7.5)
the corrected data for student is: ('abcd', 'pqr', 2003, 1, 10, 'MSc', 6.5)

In [36]:
s = 'xyz'
t = [24, 25, 26,27]
z=zip(s,t)
print(z)
print(list(z))

<zip object at 0x000001C4CE82D848>
[('x', 24), ('y', 25), ('z', 26)]

In [6]:
# tuple packing
A=('xyz',27,'CA')
print("tuple A=",A)
# tuple unpacking
(name,age,profession)=A
print("tuple A=",A)
print('name=',name)
print('profession=',profession)

tuple A= ('xyz', 27, 'CA')
tuple A= ('xyz', 27, 'CA')
name= xyz
profession= CA

In [1]:
s1='hello'
t1=tuple(s1)
print("string s1=",s1)
print("string s1 converted to a tuple=",t1)

string s1= hello
string s1 converted to a tuple= ('h', 'e', 'l', 'l', 'o')

In [37]:
t2=tuple('HELLO!')
print("t2=",t2)

t2= ('H', 'E', 'L', 'L', 'O', '!')

In [38]:
A=("xyz",25,"CS")
B=("abc",30,"doctor")
print("A=",A)
print("B=",B)
(A,B)=(B,A) # swapping the tuples
# OR simply we can write: A, B = B, A
print("after swapping:")
print("A=",A)
print("B=",B)

A= ('xyz', 25, 'CS')
B= ('abc', 30, 'doctor')
after swapping:
A= ('abc', 30, 'doctor')
B= ('xyz', 25, 'CS')

In [ ]:
# to create an empty tuple
t3=()

In [10]:
# tuple with just one value
t4=(5,) # correct way
print(type(t4))
#t4[1]=10
#print("t4=",t4)
#t5=(5) # incorrect way
#print(type(t4))

<class 'tuple'>

In [41]:
T1=11,12,13,11 # alternate way to create a tuple
print("T1=",T1)
print("no of 11's in T1=",T1.count(11))
print("after adding item 15 to T1:",T1+(15,))
# adding item to tuple, in a way we do it for a string
print("once agian, T1=",T1)
T1=T1[:2]+(10,)+T1[2:]
print("new tuple T1 =", T1)
T1=T1[:3]+(20,30)+T1[3:]
print("new tuple T1 =", T1)
#"""
T1=11,12,13,11
T1=T1+(15,)
print("after adding item 15 to tuple T1=",T1)
T1=T1[:2]+(10,)+T1[2:]
print("new tuple T1 =", T1)
#"""

T1= (11, 12, 13, 11)
no of 11's in T1= 2
after adding item 15 to T1: (11, 12, 13, 11, 15)
once agian, T1= (11, 12, 13, 11)
new tuple T1 = (11, 12, 10, 13, 11)
new tuple T1 = (11, 12, 10, 20, 30, 13, 11)
after adding item 15 to tuple T1= (11, 12, 13, 11, 15)
new tuple T1 = (11, 12, 10, 13, 11, 15)

In [43]:
# data type "sets"
#----------------------------------------------
s={1,2,3,4,5}
s1= set() # empty set
s2={1,2,3,1,4,2,5}
print("s=",s)
print("s2=",s2)
L=[1,4,4,5,1,2,1,3]
print("List L=",L)
s3=set(L) # type conversion; converting a list to a set
print("list L converted to set s3= ",s3)
# print(s1[1]) - invalid
# s[0]=10 - invalid - python sets do not support item assignment

s= {1, 2, 3, 4, 5}
s2= {1, 2, 3, 4, 5}
List L= [1, 4, 4, 5, 1, 2, 1, 3]
list L converted to set s3=  {1, 2, 3, 4, 5}

In [20]:
s = set(["a", "b", "c"])
print(s)
# There is no specific order for set elements to be printed

{'c', 'b', 'a'}

In [2]:
str1='today is Saturday'
print("string str1= ",str1)
s4=set(str1)
print("the string str1 converted to a set s4= ",s4) 
l1=list(str1)
print("the string str1 converted to a list l1= ",l1)

string str1=  today is Saturday
the string str1 converted to a set s4=  {'a', 'i', 'u', 'y', 's', 't', 'S', ' ', 'o', 'd', 'r'}
the string str1 converted to a list l1=  ['t', 'o', 'd', 'a', 'y', ' ', 'i', 's', ' ', 'S', 'a', 't', 'u', 'r', 'd', 'a', 'y']

In [44]:
s1={1,2,3}
s2={3,4}
print("union of s1 and s2 is: ",s1|s2) # union of two sets; '|' operator
print("intersection of s1 and s2 is: ",s1&s2) # intersection of two sets; '&' operator
print("difference between sets s1 and s2 is: ",s1-s2) # operator '-'
print("symmetric difference between s1 and s2 is: ",s1^s2)
# symmetric difference between s1 and s2 = (s1 union s2)-(s1 intersection s2)
print("check whether 3 is in s1 ?:",3 in s1) # use of 'in' operator
print("check whether 2 is not in s1 ?: ", 2 not in s1)

union of s1 and s2 is:  {1, 2, 3, 4}
intersection of s1 and s2 is:  {3}
difference between sets s1 and s2 is:  {1, 2}
symmetric difference between s1 and s2 is:  {1, 2, 4}
check whether 3 is in s1 ?: True
check whether 2 is not in s1 ?:  False

In [46]:
# 'set' methods
# suppose 's' is a set
# s.add(x) - will add element 'x' to set 's' 
s={1,3,4,6,8}
s1=s.copy()
print("set s= ",s)
print("set s1= ",s1)
s.add(2)
print("set s= ",s)
print("set s1= ",s1)
s.remove(3)
print("set s= ",s)

set s=  {1, 3, 4, 6, 8}
set s1=  {1, 3, 4, 6, 8}
set s=  {1, 2, 3, 4, 6, 8}
set s1=  {1, 3, 4, 6, 8}
set s=  {1, 2, 4, 6, 8}

In [ ]:
s.remove(7) # error because 7 is not in s

In [47]:
s.discard(7)
print("s=",s)

s= {1, 2, 4, 6, 8}

In [48]:
print("set s= ",s)
print("set s1= ",s1)
print("check whether s is subset of s1 ?:",s.issubset(s1))
s1.add(2)
print("set s1= ",s1)
print("check whether s1 is superset of s ?:",s1.issuperset(s))

set s=  {1, 2, 4, 6, 8}
set s1=  {1, 3, 4, 6, 8}
check whether s is subset of s1 ?: False
set s1=  {1, 2, 3, 4, 6, 8}
check whether s1 is superset of s ?: True

In [50]:
print("set s= ",s)
print("set s1= ",s1)
print("the elements of s1 which are not in s: ",s1.difference(s))
# this is same as s1-s
print("the intersection of s1 and s is: ",s1.intersection(s))
print("the intersection of s1 and s is: ",s1.union(s))
s3={5,9,0}
print("set s3= ",s3)
print("check whether s1 and s3 are disjoint or not: ",s1.isdisjoint(s3))
print("an element that is removed randomly from set s3 is: ",s3.pop())
 # will remove an item randomly from set s3
print("updated set s3= ",s3)
print("after removing all items, set s3= ",s3.clear()) # will remove all items from set s3

set s=  {1, 2, 4, 6, 8}
set s1=  {1, 2, 3, 4, 6, 8}
the elements of s1 which are not in s:  {3}
the intersection of s1 and s is:  {1, 2, 4, 6, 8}
the intersection of s1 and s is:  {1, 2, 3, 4, 6, 8}
set s3=  {0, 9, 5}
check whether s1 and s3 are disjoint or not:  True
an element that is removed randomly from set s3 is:  0
updated set s3=  {9, 5}
after removing all items, set s3=  None

In [3]:
# normal way
s=set()
for i in range(5):
    s.add(i**2)
print("set s= ",s)

set s=  {0, 1, 4, 9, 16}

In [51]:
# set comprehension
s={i**2 for i in range(5)}
print("set s= ",s)

set s=  {0, 1, 4, 9, 16}

In [ ]:
# to remove the repetition from list
L=[1,3,2,4,5,2,6,3,5,7,8,7,9]
s1=set(L) # converting a list to a set
print("List L= ",L)   
print("set s1= ",s1)   
L1=list(s1) # converting a set to a list
print("list L1= ",L1)

In [ ]:
# the above code can be simply replaced as follows:
L=[1,3,2,4,5,2,6,3,5,7,8,7,9]
L1=list(set(L))  # combining statements: s1=set(L) ; L1=list(s1)
print("List L1=",L1)

In [53]:
# A frozen set
# Frozen sets in Python are immutable objects that only support methods
# and operators that produce a result without affecting the frozen set 
# or sets to which they are applied.
# While elements of a set can be modified at any time, 
# elements of the frozen set remain the same after creation. 

fs = frozenset(["e", "f", "g"])

print("Frozen Set")
print(fs)
# fs.add("h") # this gives an error

Frozen Set
frozenset({'f', 'g', 'e'})

In [28]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}
s3={2,3,4}
s4={3,4,5,6,7,8,9}
s5={4,3,5,2,1}
print(s1==s5) # check whether sets s1 and s5 are equivalent
print(s1==s2)
print(s1!=s2) # check whether sets s1 and s2 are not equivalent
print(s5<=s1) # check whether s5 is subset of s1
print(s3<s1) # check whether s3 is proper subset of s1
print(s5>=s1) # check whether s5 is superset of s1
print(s4>s2) # check whether s4 is proper superset of s2

True
False
True
True
True
True
True