# Assignment 1

### 1. Generate a random sample size 100 from normal distribution with mean 12 and standard deviation 1.5.

In [2]:
import numpy as np
random = np.random.normal(12,1.5,100)
print("100 random samples are:",random)

100 random samples are: [10.00339212 13.27566429 11.26973288 10.94022715 10.98446158 12.51809924
 12.2264918  13.42384605 12.83464298 10.75315538 10.5334862  13.94052898
  9.8395712  13.6384112  12.12184674 11.21649316  9.71487232 11.00643903
  9.83000886 13.75005107 13.61018559 15.11431243 11.24918675 12.61134064
 11.98370608 11.03443955 12.87303401 14.52523628 11.78710672 13.18256033
 15.50331897 13.79018591  7.85692718 13.07364745  7.80415825 13.84814804
 10.36697001 10.37604952  9.00382123 11.51731696 14.14322844 12.74045393
 14.81174016 11.82208006 12.63641445 14.69316292 16.1594844  11.20384117
 12.0936982  10.97085646 12.61174025  7.70444364 10.86652972 11.19274369
  9.38187603 12.25264667 11.58887401 10.58550681 12.63005168 10.28280948
 12.87889888 10.9314396  12.5137978  11.4529448  11.78101557 14.00840635
 13.17077559  9.81344843 12.15526052 13.7462225  12.33244601 11.39490609
 11.81136367 11.81214705 10.78947136 12.19550638  9.65434098 10.66871063
 12.73305152 11.14095263 13.7631463  13.44982864  9.99604718 12.5007184
 14.47986571 10.79216556 10.74530408 11.96768963  9.96386005 14.27202198
 12.21627809 12.34609891 13.06263902 11.54259164 10.77387941 12.08050606
 12.18131462 11.70262151 12.95700184 12.16904551]

### 2. Create a series named 'X' containing this data with indices 'u1','u2',....'u100'.

In [6]:
import pandas as pd
import numpy as np
k=pd.Series(random,index=['u'+str(i) for i in range(1,101)])
k.name='x'
print(k)

u1      10.003392
u2      13.275664
u3      11.269733
u4      10.940227
u5      10.984462
          ...
u96     12.080506
u97     12.181315
u98     11.702622
u99     12.957002
u100    12.169046
Name: x, Length: 100, dtype: float64

### 3.Consiering the contents of above series as a population , computing population mean and population standard deviation.

In [8]:
print("mean of series:",k.mean())

mean of series: 11.952529867821392

In [9]:
print("standard deviation of series:",k.std())

standard deviation of series: 1.6329889809432778

### 4. Select a random sample s1 without replacement of size 20 from this population. Compute sample mean and sample standard deviation for the sample s1.

In [12]:
sample_1 = k.sample(20, replace=False)
sample_1

u72     11.394906
u49     12.093698
u59     12.630052
u39      9.003821
u37     10.366970
u44     11.822080
u9      12.834643
u25     11.983706
u46     14.693163
u4      10.940227
u58     10.585507
u7      12.226492
u77      9.654341
u97     12.181315
u28     14.525236
u81     13.763146
u53     10.866530
u26     11.034440
u56     12.252647
u100    12.169046
Name: x, dtype: float64

In [15]:
sample_1.mean()

11.85109823118113

In [16]:
sample_1.std()

1.459256658782089

### 5. Select a random sample s2 without replacement of size 20 from this population. Compute sample mean and sample standatd deviance for the sample s2.

In [17]:
sample_2=k.sample(20,replace=False)
sample_2

u95    10.773879
u85    14.479866
u89     9.963860
u5     10.984462
u91    12.216278
u79    12.733052
u87    10.745304
u98    11.702622
u74    11.812147
u19     9.830009
u22    15.114312
u67    13.170776
u49    12.093698
u28    14.525236
u60    10.282809
u53    10.866530
u66    14.008406
u69    12.155261
u38    10.376050
u20    13.750051
Name: x, dtype: float64

In [18]:
sample_2.mean()

12.07923035057419

In [19]:
sample_2.std()

1.6406381414218754

### 6. Select 50 samples , each of size 20 , without replacement from the population. Obtain sample means and sampl standard deviations of these 50 samples . Store these means and standard deviations in data frame with suitable indices.

In [35]:
M=[]
S=[]
for i in range(50):
    i=np.random.choice(k,size=20,replace=False,p=None)
    mean=np.mean(i)
    M.append(mean)
    sd=np.std(i)
    S.append(sd)
d=[M,S]
d1=pd.DataFrame (d). T
d1.index=('s'+str(i) for i in range(1,51))
d1.columns=("mean","std")
d1

          mean       std
s1   11.910443  1.869964
s2   12.317020  1.811518
s3   11.947230  1.732018
s4   11.605477  1.638485
s5   12.821547  1.285021
s6   12.045455  1.303295
s7   12.152863  1.031639
s8   12.123999  1.475143
s9   12.202548  1.350389
s10  11.792129  1.746708
s11  12.214689  1.735865
s12  12.263442  1.491267
s13  12.087569  1.527181
s14  11.829023  1.528774
s15  11.644934  1.488746
s16  11.872721  1.731519
s17  11.669396  1.913373
s18  11.858999  0.931645
s19  12.226545  1.544870
s20  12.485931  1.299825
s21  12.363769  1.263548
s22  12.072827  2.033078
s23  11.942727  1.280380
s24  12.677542  1.162952
s25  12.170182  1.597736
s26  12.023882  1.548895
s27  12.251200  1.235911
s28  12.391147  1.683414
s29  11.805508  1.581714
s30  12.045010  1.413079
s31  11.745960  1.525609
s32  12.330351  1.406266
s33  12.554488  1.980184
s34  12.270312  1.407405
s35  11.483027  1.675388
s36  11.995386  1.270915
s37  12.025915  1.664454
s38  11.741815  2.030472
s39  11.901403  1.439084
s40  12.074940  1.898667
s41  11.567339  1.839423
s42  11.847407  1.506988
s43  11.170707  1.744271
s44  12.313636  1.288150
s45  12.476384  1.728083
s46  11.893865  2.004067
s47  11.970974  1.603021
s48  12.374167  1.297842
s49  12.206316  1.834222
s50  11.779483  1.872962

### 7.Obtain summary statistics for the data frame created above.

In [37]:
d1.describe()

            mean        std
count  50.000000  50.000000
mean   12.050793   1.565109
std     0.316410   0.263132
min    11.170707   0.931645
25%    11.850305   1.364359
50%    12.045233   1.546883
75%    12.260381   1.742170
max    12.821547   2.033078