In [2]:
from mlxtend.frequent_patterns import apriori

In [3]:
## Consider a transaction database
dataset = [['Milk', 'Bread', 'Butter', 'Cheese', 'Paneer', 'Curd'],
           ['Barfi', 'Bread', 'Butter', 'Cheese', 'Paneer', 'Curd'],
           ['Milk', 'Peda', 'Cheese', 'Paneer'],
           ['Milk', 'Barfi', 'Peda', 'Cheese', 'Curd'],
           ['Curd', 'Bread', 'Cheese', 'Ice cream', 'Paneer']]

In [4]:
import pandas as pd

In [8]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()  # instantiate TransactionEncoder
te = te.fit(dataset)  # train transaction encoder
CodedDataset = te.transform(dataset)
df = pd.DataFrame(CodedDataset, columns=te.columns_) # transform into DataFrame
df

   Barfi  Bread  Butter  Cheese   Curd  Ice cream   Milk  Paneer   Peda
0  False   True    True    True   True      False   True    True  False
1   True   True    True    True   True      False  False    True  False
2  False  False   False    True  False      False   True    True   True
3   True  False   False    True   True      False   True   False   True
4  False   True   False    True   True       True  False    True  False

In [9]:
FreqSets = apriori(df, min_support=0.6, use_colnames=True)
FreqSets

    support                       itemsets
0       0.6                        (Bread)
1       1.0                       (Cheese)
2       0.8                         (Curd)
3       0.6                         (Milk)
4       0.8                       (Paneer)
5       0.6                (Cheese, Bread)
6       0.6                  (Curd, Bread)
7       0.6                (Paneer, Bread)
8       0.8                 (Cheese, Curd)
9       0.6                 (Cheese, Milk)
10      0.8               (Cheese, Paneer)
11      0.6                 (Paneer, Curd)
12      0.6          (Curd, Cheese, Bread)
13      0.6        (Cheese, Bread, Paneer)
14      0.6          (Curd, Bread, Paneer)
15      0.6         (Cheese, Curd, Paneer)
16      0.6  (Curd, Cheese, Bread, Paneer)

In [10]:
apriori(df, min_support=0.6)

    support      itemsets
0       0.6           (1)
1       1.0           (3)
2       0.8           (4)
3       0.6           (6)
4       0.8           (7)
5       0.6        (1, 3)
6       0.6        (1, 4)
7       0.6        (1, 7)
8       0.8        (3, 4)
9       0.6        (3, 6)
10      0.8        (3, 7)
11      0.6        (4, 7)
12      0.6     (1, 3, 4)
13      0.6     (1, 3, 7)
14      0.6     (1, 4, 7)
15      0.6     (3, 4, 7)
16      0.6  (1, 3, 4, 7)

In [11]:
from mlxtend.frequent_patterns import association_rules
association_rules(FreqSets, min_threshold=0.8)

                antecedents             consequents  antecedent support  ...      lift  leverage  conviction
0                   (Bread)                (Cheese)                 0.6  ...  1.000000      0.00         inf
1                   (Bread)                  (Curd)                 0.6  ...  1.250000      0.12         inf
2                   (Bread)                (Paneer)                 0.6  ...  1.250000      0.12         inf
3                  (Cheese)                  (Curd)                 1.0  ...  1.000000      0.00         1.0
4                    (Curd)                (Cheese)                 0.8  ...  1.000000      0.00         inf
5                    (Milk)                (Cheese)                 0.6  ...  1.000000      0.00         inf
6                  (Cheese)                (Paneer)                 1.0  ...  1.000000      0.00         1.0
7                  (Paneer)                (Cheese)                 0.8  ...  1.000000      0.00         inf
8             (Curd, Bread)                (Cheese)                 0.6  ...  1.000000      0.00         inf
9           (Cheese, Bread)                  (Curd)                 0.6  ...  1.250000      0.12         inf
10                  (Bread)          (Cheese, Curd)                 0.6  ...  1.250000      0.12         inf
11          (Cheese, Bread)                (Paneer)                 0.6  ...  1.250000      0.12         inf
12          (Paneer, Bread)                (Cheese)                 0.6  ...  1.000000      0.00         inf
13                  (Bread)        (Cheese, Paneer)                 0.6  ...  1.250000      0.12         inf
14            (Curd, Bread)                (Paneer)                 0.6  ...  1.250000      0.12         inf
15           (Paneer, Curd)                 (Bread)                 0.6  ...  1.666667      0.24         inf
16          (Paneer, Bread)                  (Curd)                 0.6  ...  1.250000      0.12         inf
17                  (Bread)          (Paneer, Curd)                 0.6  ...  1.666667      0.24         inf
18           (Paneer, Curd)                (Cheese)                 0.6  ...  1.000000      0.00         inf
19    (Cheese, Curd, Bread)                (Paneer)                 0.6  ...  1.250000      0.12         inf
20   (Cheese, Curd, Paneer)                 (Bread)                 0.6  ...  1.666667      0.24         inf
21    (Paneer, Curd, Bread)                (Cheese)                 0.6  ...  1.000000      0.00         inf
22  (Cheese, Bread, Paneer)                  (Curd)                 0.6  ...  1.250000      0.12         inf
23            (Curd, Bread)        (Cheese, Paneer)                 0.6  ...  1.250000      0.12         inf
24           (Paneer, Curd)         (Cheese, Bread)                 0.6  ...  1.666667      0.24         inf
25          (Cheese, Bread)          (Paneer, Curd)                 0.6  ...  1.666667      0.24         inf
26          (Paneer, Bread)          (Cheese, Curd)                 0.6  ...  1.250000      0.12         inf
27                  (Bread)  (Cheese, Curd, Paneer)                 0.6  ...  1.666667      0.24         inf

[28 rows x 9 columns]

In [12]:
int_rules = association_rules(FreqSets, min_threshold=0.8).query('lift > 1').reset_index()
int_rules

    index              antecedents             consequents  ...      lift  leverage  conviction
0       1                  (Bread)                  (Curd)  ...  1.250000      0.12         inf
1       2                  (Bread)                (Paneer)  ...  1.250000      0.12         inf
2       9          (Cheese, Bread)                  (Curd)  ...  1.250000      0.12         inf
3      10                  (Bread)          (Cheese, Curd)  ...  1.250000      0.12         inf
4      11          (Cheese, Bread)                (Paneer)  ...  1.250000      0.12         inf
5      13                  (Bread)        (Cheese, Paneer)  ...  1.250000      0.12         inf
6      14            (Curd, Bread)                (Paneer)  ...  1.250000      0.12         inf
7      15           (Paneer, Curd)                 (Bread)  ...  1.666667      0.24         inf
8      16          (Paneer, Bread)                  (Curd)  ...  1.250000      0.12         inf
9      17                  (Bread)          (Paneer, Curd)  ...  1.666667      0.24         inf
10     19    (Cheese, Curd, Bread)                (Paneer)  ...  1.250000      0.12         inf
11     20   (Cheese, Curd, Paneer)                 (Bread)  ...  1.666667      0.24         inf
12     22  (Cheese, Bread, Paneer)                  (Curd)  ...  1.250000      0.12         inf
13     23            (Curd, Bread)        (Cheese, Paneer)  ...  1.250000      0.12         inf
14     24           (Paneer, Curd)         (Cheese, Bread)  ...  1.666667      0.24         inf
15     25          (Cheese, Bread)          (Paneer, Curd)  ...  1.666667      0.24         inf
16     26          (Paneer, Bread)          (Cheese, Curd)  ...  1.250000      0.12         inf
17     27                  (Bread)  (Cheese, Curd, Paneer)  ...  1.666667      0.24         inf

[18 rows x 10 columns]