WRITE A PROGRAM TO TAKE A NUMBER N AS A INPUT AND FIND THE SUM OF FIRST N NATURAL NUMBERS.

In [29]:
n = int(input("PLEASE GIVE ME A NUMBER OF YOUR CHOICE:"))
sum = (n*(n+1))/2
   
for n in range(n+1):
    print(n)
print("THE SUMMATION OF FIRST n NUMBERS IS : ",sum)

PLEASE GIVE ME A NUMBER OF YOUR CHOICE: 5

0
1
2
3
4
5
THE SUMMATION OF FIRST n NUMBERS IS :  15.0

WRITE A PROGRAM WHICH GIVES OUTPUT OF SQUARE OF EACH NATURAL NUMBERS, AND FIND THE SUM OF THE SQUARES.

In [36]:
r = int(input("PLEASE INPUT A NUMBER OF YOUR CHOICE:"))
sum_sq = r * (r + 1) * (2 * r + 1) // 6

for r in range(r+1):
    print(r,", THE SQUARE OF THIS NUMBER IS: " , r*r)
print("THE SUMMATION OF SQUARES OF FIRST n NATURAL NUMBERS IS: ", sum_sq)

PLEASE INPUT A NUMBER OF YOUR CHOICE: 7

0 , THE SQUARE OF THIS NUMBER IS:  0
1 , THE SQUARE OF THIS NUMBER IS:  1
2 , THE SQUARE OF THIS NUMBER IS:  4
3 , THE SQUARE OF THIS NUMBER IS:  9
4 , THE SQUARE OF THIS NUMBER IS:  16
5 , THE SQUARE OF THIS NUMBER IS:  25
6 , THE SQUARE OF THIS NUMBER IS:  36
7 , THE SQUARE OF THIS NUMBER IS:  49
THE SUMMATION OF SQUARES OF FIRST n NATURAL NUMBERS IS:  140

WRITE A PROGRAM TO TAKE A NUMBER AS INPUT AND PRINT THE MULTIPLICATION TABLE

In [41]:
b = int(input("ENTER A NUMBER OF YOUR CHOICE:"))

for i in range(11):
    print(f"{n}*{i} = {n*i}")

ENTER A NUMBER OF YOUR CHOICE: 5

5*0 = 0
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

CREATE A CHRISTMAS TREE BY TAKING N AS AN INPUT

In [45]:
c = int(input(" MERRY CHRISTMAS, GIVE ME A NUMBER:"))
for i in range(c+1):
    print(i*"*")

 MERRY CHRISTMAS, GIVE ME A NUMBER: 5

*
**
***
****
*****

WRITE A PROGRAM FOR FIBONNACI SERIES

In [52]:
n = int(input("give me your number:"))
a, b = 0, 1

for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

give me your number: 7

0 1 1 2 3 5 8

WRITE A PROGRAM TO TAKE A NUMBER AS A INPUT AND CHECK WHETHER THE NUMBER IS: POSITIVE, NEGATIVE, OR ZERO

In [59]:
 n = int(input("GIVE ME NUMBER:"))
if n < 0:
    print("this number is zero")
elif n > 0  :
    print("this number is positive")
else:
    print("this number is negative")

GIVE ME NUMBER: 5

this number is positive

WRITE A PROGRAM TO TAKE STUDENT MARKS(0,100) AND DISPLAY THE GRADE OBTAINED

In [68]:
n = float(input("GIVE ME THE STUDENT MARKS:"))
if n in range(0,100):
    print("VALID MARKS")
if n >= 90:
    print("YOU HAVE PASSSED WITH DISTINCTION")
elif n >= 80:
    print("YOU HAVE SCORED B1")
elif n>=70:
    print("YOU HAVE SCORED B2")
elif n>=60:
    print("YOU HAVE SCORED C1")
elif n>=50:
    print("YOU HAVE SCORED C2")
else:
    print("YOU HAVE FAILED, TRY HARDER NEXT TIME")

GIVE ME THE STUDENT MARKS: 50

VALID MARKS
YOU HAVE SCORED C2

CHECK FOR LEAP YEAR

In [77]:
n = int(input("ENTER THE YEAR"))
if n in range(0,10000):
    print("VALID YEAR, MOVE AHEAD")
if n % 100 | n% 400 == 0:
    print("THIS IS A LEAP YEAR 1")
elif n % 4 == 0:
    print("THIS IS A LEAP YEAR BUT SHITTY")
else :
    print("THIS IS NOT A LEAP YEAR")

ENTER THE YEAR 4

VALID YEAR, MOVE AHEAD
THIS IS A LEAP YEAR BUT SHITTY

CHECK FOR EVEN OR ODD NUMBER UNDER N NUMBER

In [81]:
n = int(input("GIVE ME A NUMBER OF YOUR CHOICE:"))
for n in range(1,n):
    if n % 2 == 0:
        print("THE NUMBER IS EVEN",n)
    else:
        print("THE NUMBER IS ODD",n)

GIVE ME A NUMBER OF YOUR CHOICE: 5

THE NUMBER IS ODD 1
THE NUMBER IS EVEN 2
THE NUMBER IS ODD 3
THE NUMBER IS EVEN 4